@font-face {
    font-family: DINPro;
    src: url(../fonts/DINPro.ttf)
}

.burger {
    display: none;
}

.b1 {
    font-family: "DINPro";
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 11;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    img {
        max-width: 120px;
    }
}

.geo {
    padding: 0px;
    margin: 0;
    display: flex;
    position: relative;
    li {
        display: flex;
        align-items: baseline;
        a {
            text-decoration: none;
            color: black;
            font-size: 18px;
            display: flex;
            align-items: center;
        }
    }
}

ul.city {
    z-index: 101;
    padding: 10px;
    position: absolute;
    list-style: none;
    top: -200px;
    right: -45px;
    width: 90px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px -1px;
    li a {
        text-decoration: none;
        color: black;
    }
}

.tel {
    position: relative;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 0px;
    ul {
        list-style: none;
    }
    li {
        display: flex;
        align-items: baseline;
        a {
            display: flex;
            text-decoration: none;
            color: black;
        }
    }
}

ul.telin {
    padding: 10px;
    position: absolute;
    list-style: none;
    width: 121px;
    top: -200px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px -1px;
    right: 0%;
}

.geo a {
    text-decoration: none;
    color: black;
}

.geo::before {
    content: "";
    position: absolute;
    left: -25px;
    top: -8px;
    width: 27px;
    height: 29px;
    background-image: url(../images/location_icon.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.geo::after {
    content: "";
    position: absolute;
    left: 40px;
    top: 5px;
    width: 27px;
    height: 29px;
    cursor: pointer;
    background: url(../images/triangle.png) no-repeat;
}

.geo.expand::after {
    left: 80px;
}

.tel::before {
    content: "";
    position: absolute;
    left: -30px;
    top: -3px;
    width: 27px;
    height: 29px;
    background-image: url(../images/phone_icon.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.tumbler {
    display: none;
}

.tumblerT {
    display: none;
}

.hidlabel {
    cursor: pointer;
    transition: top 0.2s;
    position: relative;
    width: 100%;
}

#inp:checked+.geo ul.city {
    top: 15px;
}

#inpT:checked+.tel ul.telin {
    top: 75%;
}

.box1 {
    width: 60px;
}

.box2 {
    cursor: pointer;
}

.box3 {
    width: 125px;
}

.languige {
    font-weight: bold;
}

.rusfont {
    font-weight: bold;
}

@media(max-width:767px) {
    .burger {
        width: 40px;
        height: 40px;
        display: block;
        overflow: hidden;
        cursor: pointer;
        position: relative;
    }
    .burger>span {
        display: block;
        position: relative;
        width: 90%;
        height: 5px;
        margin: 5px auto;
        background-color: rgb(31, 56, 81);
        border-radius: 3px;
    }
    .burger>span#sp1 {
        transition: all .3s .5s;
    }
    .burger>span#sp2 {
        transition: all .3s .3s;
    }
    .burger>span#sp3 {
        transition: all .3s .1s;
    }
    .burger.active>span#sp1 {
        width: 100%;
        height: 100%;
        margin: 5px auto;
        transition: all .3s .1s;
    }
    .burger.active>span#sp2 {
        background-color: #9fd8ef;
        transform: translateY(-30px) rotateZ(45deg);
        transition: all .3s .3s;
    }
    .burger.active>span#sp3 {
        background-color: #9fd8ef;
        transform: translateY(-40px) rotateZ(-45deg);
        transition: all .3s .5s;
    }
    .navbar.active {
        display: block;
        position: absolute;
        height: 468px;
        width: 158px;
        top: 73px;
        right: 151px;
        background-color: #f5f5f5;
        box-shadow: 0px 1px 4px;
        transform: translateX(150px);
        transition: all .3s .3s;
        ul {
            list-style: none;
            display: block;
            right: -300px;
        }
        li {
            margin-top: 20px;
        }
    }
    .central.active {
        opacity: .6;
        z-index: -1;
    }
    .box2 {
        display: none;
    }
    .cloneBox2 {
        position: absolute;
        display: block;
        right: 58px;
        top: 379px;
        cursor: pointer;
    }
    .box3 {
        display: none;
    }
    .cloneBox3 {
        position: absolute;
        z-index: 100;
        display: block;
        right: 5px;
        top: 417px;
    }
    ul.telin {
        top: -130px;
    }
}