@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=cyrillic-ext');
@font-face {
    font-family: "ShopinScript";
    src: url(../fonts/shopin.ttf);
    src: local(ShopinScript), url(../fonts/shopin.ttf);
    font-weight: bolder;
    font-style: italic;
}

.fonts {
    font-family: "ShopinScript", "Open Sans";
    color: lightseagreen;
    font-weight: bold;
    text-align: center;
}