$back1:rgb(252, 252, 136);
$back2:rgb(172, 171, 171);
$back3:darkslategray;
$back4:#FFEBCD;
$back5:#13967c;
$back6:blanchedalmond;
$back7:rgb(172, 171, 171);
$fontf:floralwhite;
$fontm:lightseagreen;
$bord1:goldenrod;
$bord2:gray;