    .mtopfirst {
        margin-top: 124px;
    }
    
    .form {
        font-size: 1.2em;
        font-weight: 600;
        color: #4d6188;
        text-align: center;
        width: 50%;
        opacity: .8;
    }
    
    .maxwidth {
        background: #dbdfe3;
        max-width: 1280px;
        padding: 10px 10px;
        margin: 0px auto;
    }
    
    .central {
        position: relative;
        margin-top: 71px;
        overflow: hidden;
    }
    
    .wrap5 {
        height: 100%;
        background-color: cadetblue;
        background-image: url(../images/back29.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    section {
        padding: 60px 0px;
        position: relative;
    }
    
    @media(max-width:600px) {
        .mtopfirst {
            margin-top: 68px;
        }
        .maxwidth {
            padding: 10px 10px 30px 10px;
        }
        .form {
            width: 90%;
        }
        .inform {
            padding: 10px 0px 0px 0px;
        }
    }
    
    @media(min-width:601px)and (max-width:767px) {
        .mtopfirst {
            margin-top: 120px;
        }
        .form {
            width: 70%;
        }
    }
    
    @media(min-width:768px)and (max-width:899px) {
        .form {
            width: 60%;
        }
    }