.inform {
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.form {
    font-size: 1.2em;
    font-weight: 600;
    color: #4d6188;
    text-align: center;
    width: 50%;
    opacity: .8;
}

.mtopfirst {
    margin-top: 124px;
}

.maxwidth {
    background: #dbdfe3;
    max-width: 1280px;
    padding: 10px 10px;
    margin: 0px auto;
}

#start {
    outline-style: none;
    width: 150px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: burlywood;
    font-size: 18px;
    font-weight: 400;
    color: grey;
    cursor: pointer;
}

#start:hover {
    background: #e0a482;
}

section {
    padding: 60px 0px;
    position: relative;
    min-height: 320px;
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    min-width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #40e0d0;
}

.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #4d6188;
}

a:hover {
    color: #5b5858;
}

.warning {
    display: none;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
    padding: 33px 10px;
    color: red;
    height: 20%;
    width: 20%;
    position: absolute;
    top: 260px;
    left: 15px;
    background: rgba(204, 216, 219, 0.6);
    background-image: url(../../images/backacsess.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
}

.warning::after {
    content: "";
    position: absolute;
    top: 63px;
    left: 290px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left: 20px solid rgba(204, 216, 219, 0.6);
    display: block;
    clear: both;
}

.cont,
.contR {
    display: none;
}

.end {
    display: flex;
    justify-content: space-around;
}

.again {
    outline-style: none;
    width: 150px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: red;
    font-size: 18px;
    font-weight: 400;
    color: grey;
    cursor: pointer;
}

.again:hover {
    background: brown;
}

.s1 {
    outline-style: none;
    width: 150px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: blue;
    font-size: 18px;
    font-weight: 400;
    color: grey;
    cursor: pointer;
}

.s1:hover {
    background: blueviolet;
}

@media(max-width:767px) {
    .mtopfirst {
        margin-top: 74px;
    }
    .warning {
        display: none;
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        padding: 10px 10px;
        color: red;
        height: 22%;
        width: 16%;
        position: absolute;
        top: 260px;
        left: 8px;
        background: rgba(158, 158, 158, 0.8);
        background-image: url(../../images/backacsess.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-blend-mode: color;
        background-position-y: center;
    }
    .warning::after {
        content: "";
        position: absolute;
        top: 63px;
        left: 128px;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left: 20px solid rgba(204, 216, 219, 0.8);
        display: block;
        clear: both;
    }
}