.inform {
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.form {
    font-size: 1.2em;
    font-weight: 600;
    color: #4d6188;
    text-align: center;
    width: 50%;
    opacity: .8;
}

.mtopfirst {
    margin-top: 120px;
}

.maxwidth {
    background: #dbdfe3;
    max-width: 1280px;
    padding: 10px 10px;
    margin: 0px auto;
}

#start {
    margin-top: 10px;
    outline-style: none;
    width: 150px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: burlywood;
    font-size: 18px;
    font-weight: 400;
    color: grey;
    cursor: pointer;
}

#start:hover {
    background: #e0a482;
}

section {
    padding: 60px 0px 90px 0px;
    position: relative;
    min-height: 320px;
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    min-width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #40e0d0;
}

.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #4d6188;
}

a:hover {
    color: #5b5858;
}

.warning {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding: 5px 10px;
    color: red;
}

.cont,
.contR {
    display: none;
}

// .cont.active,
// .contR.active {
//     display: block;
//     position: relative;
//     //left: 1500px;
//     transform: translateX(-1500px);
//     transition: all 0.3s 0.3s;
// }
// .cont.act,
// .contR.act {
//     display: block;
//     position: relative;
//     right: 1500px;
//     transform: translateX(1500px);
//     transition: all 0.3s 0.3s;
// }
.end {
    display: flex;
    justify-content: space-around;
}

.again {
    width: 150px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #f73d4a;
    font-size: 18px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    padding-top: 8px;
    line-height: 18px;
}

.again:hover {
    background: #f7518e;
    color: white;
}

.s1 {
    outline-style: none;
    width: 150px;
    height: 61px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #1e5a96;
    font-size: 18px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

.s1:hover {
    background: #4096ed;
}

@media(max-width:600px) {
    .mtopfirst {
        margin-top: 68px;
    }
    .maxwidth {
        padding: 10px 10px 30px 10px;
    }
    section {
        height: 470px;
    }
    .form {
        width: 90%;
    }
    .inform {
        padding: 10px 0px 0px 0px;
    }
    .end {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .again {
        margin-bottom: 5px;
    }
}

@media(min-width:601px)and (max-width:767px) {
    .mtopfirst {
        margin-top: 120px;
    }
    .form {
        width: 70%;
    }
}

@media(min-width:768px)and (max-width:899px) {
    .form {
        width: 60%;
    }
}